:root {
	/* white style */
	--container: #fff;
    --container-header: #e0e0e0;
	--border: #bebebe;
	--navigation: #f0f0f0;
	--font: #1c1c1c;
    --status-font-incomplete: #404040; 
    --status-font-complete: #468540;
    --status-font-error: #965b49;
	--selected: #f0f0f0;
	--toggle-light: #151515;
	--toggle-dark: #ccc;
	--scrollbar-thumb: var(--border);
	--scrollbar-bg: var(--navigation);
	--scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
	--loading-bg-color: rgba(255, 255, 255, 0.5);
	--textarea-bg: var(--navigation);
	--logo-45: #333;
    --panel: #f8f8f8;
    --bg-complete: #d9e8be;
    --border-complete: #658036;
    --bg-progress-bar-current: #dbedff;
}
[data-theme="dark"] {
	/* Dark style */
	--container: #212427;
    --container-header: #404040;
	--border: #3c3f42;
	--navigation: #151515;
	--font: #fff;
    --status-font-incomplete: #a0a0a0;
    --status-font-complete: #33702d;
    --status-font-error: #9e4125;
	--selected: #191a1b;
	--scrollbar-thumb: var(--container);
	--scrollbar-bg: var(--navigation);
	--scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
	--loading-bg-color: rgba(33, 36, 39, 0.5);
	--textarea-bg: var(--navigation);
	--logo-45: #fff;
    --panel: #303030;
    --bg-complete: #819164;
    --border-complete: #658036;
    --bg-progress-bar-current: #191a1b;
}

body {
    background-color: var(--container);
}

#main-menu-link{
    cursor: pointer;
}

/* START - SWITCH THEME */
.nav-toggle {
	display: flex;
    margin-left:auto;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--toggle-light);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider {
	background-color: var(--toggle-dark);
}
input:focus + .slider {
	box-shadow: 0 0 1px var(--toggle-dark);
}
input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}
.slider.round {
	border-radius: 17px;
}
.slider.round:before {
	border-radius: 50%;
}

.horizontal-spacer-sm {
	margin-right: 0.25em;
}
.nav-btn-group {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-start;
    padding: 5px 10px 5px 5px;
}

#houston-theme-icon {
    color: var(--font);
}

/* END - SWITCH THEME */

.hidden {
	display: none;
}

.cd-block {
	margin-left: 10px;
	padding: 8px 8px 8px 8px;
}

.cd-header {
	font-family: sans-serif;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cd-button-right {
	align-self: flex-end;
}

.cd-row {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:flex-start;
}

.cd-row-right {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-end;
}

.cd-col-50 {
	display: flex;
	flex-direction: column;
}

.cd-row-child{
	flex-grow: 1;
	margin: 10px 10px 10px 10px;
}

.cd-panel {
	max-width: 80%;
    background-color: var(--container);
	border: 1px solid var(--border);
    border-radius: 4px;
}

.cd-option-panel {
    max-width: 90%;
    background-color: var(--container);
	border: 1px solid var(--border);
    border-radius: 4px;
    margin-left: 15px;
}

.cd-panel-body {
    padding: 15px;
    color: var(--font);
    background-color: var(--panel);
}

.cd-panel-heading {
    background-color: var(--container-header);
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: var(--font);
}

.cd-host-box {
	display: flex;
	flex-direction: column;
}

.cd-host-list-header-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1em;
    width: 100%;
    background-color: var(--container-header);
	border: 1px solid var(--border);
    color: var(--font);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cd-host-list-header-text {
	font-weight: bold;
	box-sizing: border-box;
	flex-grow: 1;
	width: 45%;  
	padding: 0 0.25em 0.25em 0;
	overflow: hidden; 
	list-style: none;
}

.cd-host-list-header-icon {
	box-sizing: border-box;
	flex-grow: 1;
	width: 1%;  
	padding: 0;
	overflow: hidden; 
	list-style: none;
}

.cd-host-list-entry {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1em;
	border: 1px solid var(--border);
    color: var(--font);
	align-items: stretch;
    width: 100%;
}
.cd-host-list-entry:hover {
    background-color: var(--selected);
}

.cd-host-list-entry-text {
	box-sizing: border-box;
	flex-grow: 1;
	width: 45%;  
	padding: 0 0.25em 0.25em 0;
	overflow: hidden; 
	list-style: none;
}

.cd-host-list-entry-icon-del {
	box-sizing: border-box;
	flex-grow: 1;
	width: 2%;
	padding: 0.25em 0.25em 0.25em 0.25em;
	text-align: center;
	overflow: hidden; 
	list-style: none;
	cursor: pointer;
}

.cd-host-list-entry-icon-del:hover {
	color: #dc143c;
}

.cd-host-list-entry-icon {
	box-sizing: border-box;
	flex-grow: 1;
	width: 2%;  
	padding: 0.25em 0.25em 0.25em 0.25em;
	text-align: center;
	overflow: hidden; 
	list-style: none;
	cursor: pointer;
}

.cd-host-list-entry-placeholder {
	display: flex;
	flex-direction: row;
	align-items:center;
	padding: 10px 10px 10px 10px;
	justify-content: center;
}

.cd-top-nav-button-group {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--container);
    padding: 5px 5px 5px 5px;
    gap: 5%;
}

.cd-top-nav-button-group > .btn {
	flex: 1 0 auto;
	max-width: 25%;
	margin: 30px 30px 30px 30px;
}

.modal {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.cd-field-label {
	font-weight: bold;
	margin-right: 5px;
    color: var(--font);
}

.cd-field {
	margin-left: 5px;
	margin-right: 10px;
    background-color: var(--container-header);
    color: var(--font);
    border-radius: 4px;
}

.cd-form-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
}

.cd-field-feedback {
	color: #dc143c;
	margin-left: 5px;
}

.cd-result-msg {
	display: none;
}

.cd-text-output {
	border:1px solid black;
	height:50%;
	width:100%;
	overflow-y:hidden;
	overflow-x:scroll;
}

 #snackbar{
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }

  #add-host-snackbar, #update-roles-snackbar, #update-options-snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 80px; /* 30px from the bottom */
  }
  
  #snackbar.show, #add-host-snackbar.show , #update-roles-snackbar.show, #update-options-snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 5.0 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 10.0s;
	animation: fadein 0.5s, fadeout 0.5s 10.0s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  } 


  :root {
    --ct-form-columns: 2;
}

.ct-form {
    align-self: start;
    display: grid;
    grid-gap: 0.5rem 1.5rem;
    grid-template-columns: repeat(var(--ct-form-columns), max-content 1fr);
    justify-items: stretch;
    align-content: baseline;
}

    .ct-form > .control-label {
        text-align: right;
        padding: 0;
        margin: 0;
    }

    .ct-form > :not(hr):not(p) {
        line-height: 2.25rem;
    }

    .ct-form > p {
        margin: 0;
    }

    .ct-form > :not(.control-label):not(hr):not(.ct-form-split):not(.ct-form-full) {
        grid-column: 2 / -1;
    }

    .ct-form > :not(.ct-form-relax):not(.spinner) {
        width: auto;
    }

    .ct-form > hr {
        border: none;
        grid-column: 1 / -1;
        height: 0.5rem;
        margin: 0;
        padding: 0;
    }

    .ct-form > input[size],
    .ct-form > .ct-validation-wrapper > input[size] {
        justify-self: start;
    }

    .ct-form > .ct-validation-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ct-form input[type=number] {
        -webkit-appearance: textarea;
    }

    .ct-form > input,
    .ct-form > .ct-validation-wrapper > input,
    .ct-form > textarea,
    .ct-form > .ct-validation-wrapper > textarea,
    .ct-form > select,
    .ct-form > .ct-validation-wrapper > select,
    .ct-form > .bootstrap-select,
    .ct-form > .ct-validation-wrapper > .bootstrap-select,
    .ct-form > .ct-select,
    .ct-form > .ct-validation-wrapper > .ct-select,
    .ct-form > .dropdown,
    .ct-form > .ct-validation-wrapper > .dropdown,
    .ct-form > .combobox-container,
    .ct-form > .ct-validation-wrapper > .combobox-container,
    .ct-form > fieldset,
    .ct-form > .ct-validation-wrapper > fieldset,
    .ct-form > [role=group],
    .ct-form > .ct-validation-wrapper > [role=group],
    .ct-form > [data-field],
    .ct-form > .ct-validation-wrapper > [data-field],
    .ct-form > .form-group,
    .ct-form > .ct-validation-wrapper > .form-group,
    .ct-form > .btn-group,
    .ct-form > .ct-validation-wrapper > .btn-group,
    .ct-form > label.checkbox,
    .ct-form > .ct-validation-wrapper > label.checkbox,
    .ct-form > label.radio,
    .ct-form > .ct-validation-wrapper > label.radio,
    .ct-form > .checkbox-inline,
    .ct-form > .ct-validation-wrapper > .checkbox-inline,
    .ct-form > .radio-inline,
    .ct-form > .ct-validation-wrapper > .radio-inline {
        line-height: var(--pf-global--LineHeight--md);
    }

    .ct-form > :not(.ct-form-relax):not(.spinner) {
        width: auto !important;
    }

    .ct-form > [role=group],
    .ct-form > .ct-validation-wrapper > [role=group] {
        align-self: start;
        align-content: center;
        display: grid;
        grid-gap: 0.5rem;
        min-height: 2.25rem;
        justify-content: start;
        grid-template-columns: repeat(2, auto);
    }

        .ct-form > [role=group].ct-form-vertical > :not(.ct-form-split),
        .ct-form > .ct-validation-wrapper > [role=group].ct-form-vertical > :not(.ct-form-split) {
            grid-column: 1 / -1;
        }

        .ct-form > [role=group] > .checkbox,
        .ct-form > .ct-validation-wrapper > [role=group] > .checkbox,
        .ct-form > [role=group] > .radio,
        .ct-form > .ct-validation-wrapper > [role=group] > .radio {
            margin: 0;
        }

            .ct-form > [role=group] > .checkbox:first-child,
            .ct-form > .ct-validation-wrapper > [role=group] > .checkbox:first-child,
            .ct-form > [role=group] > .radio:first-child,
            .ct-form > .ct-validation-wrapper > [role=group] > .radio:first-child {
                margin-top: 0.5rem;
            }

        .ct-form > [role=group]:not(.ct-form-relax) > .dropdown,
        .ct-form > .ct-validation-wrapper > [role=group]:not(.ct-form-relax) > .dropdown,
        .ct-form > .ct-validation-wrapper > [data-field]:not(.ct-form-relax) > .dropdown {
            width: auto !important;
        }

        .ct-form > [role=group]:not(.ct-form-relax) > .ct-select,
        .ct-form > .ct-validation-wrapper > [role=group]:not(.ct-form-relax) > .ct-select,
        .ct-form > .ct-validation-wrapper > [data-field]:not(.ct-form-relax) > .ct-select {
            width: 100%;
        }

    .ct-form label.checkbox,
    .ct-form label.radio,
    .ct-form .checkbox > label,
    .ct-form .radio > label,
    .ct-form .checkbox-inline,
    .ct-form .radio-inline {
        display: inline-flex;
        padding-left: 0;
        padding-right: 1.5rem;
        align-items: center;
    }

        .ct-form label.checkbox > input[type="checkbox"],
        .ct-form label.radio > input[type="checkbox"],
        .ct-form .checkbox > label > input[type="checkbox"],
        .ct-form .radio > label > input[type="checkbox"],
        .ct-form .checkbox-inline > input[type="checkbox"],
        .ct-form .radio-inline > input[type="checkbox"],
        .ct-form label.checkbox > input[type="radio"],
        .ct-form label.radio > input[type="radio"],
        .ct-form .checkbox > label > input[type="radio"],
        .ct-form .radio > label > input[type="radio"],
        .ct-form .checkbox-inline > input[type="radio"],
        .ct-form .radio-inline > input[type="radio"] {
            margin: 0 0.5em 0 0;
            position: static;
        }

    .ct-form fieldset > .checkbox:first-child,
    .ct-form fieldset > .radio:first-child {
        margin-top: 0;
    }

    .ct-form fieldset > .checkbox:last-child,
    .ct-form fieldset > .radio:last-child {
        margin-bottom: 0;
    }

    .ct-form .list-group {
        margin-bottom: 0.5rem;
    }

    .ct-form > .ct-form-split {
        grid-column: auto / auto;
    }

    .ct-form > .ct-form-full {
        grid-column: 1 / -1;
    }

    .ct-form > .help-block {
        position: relative;
        margin-top: -0.5rem;
    }

    .ct-form .help-block {
        --help-line-height: calc(var(--pf-global--LineHeight--md) * 1rem);
        line-height: var(--help-line-height);
    }

        .ct-form .help-block:empty {
            display: none;
        }

        .ct-form .help-block .spinner {
            position: relative;
            top: calc((var(--help-line-height) - 16px - 2px) / 2);
        }

    .ct-form .ct-form-box {
        background: var(--color-gray-1);
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-gray-5);
        padding: 0.5rem;
        padding-top: 1rem;
        width: 100%;
    }

.ct-form-stretch {
    justify-content: stretch !important;
}

.ct-form-relax {
    justify-self: start;
}

.modal-dialog.modal-sm .ct-form > .ct-form-split {
    grid-column: 2 / -1;
}

@media (max-width: 640px) {
    .listing-ct-body,
    .modal {
        --ct-form-columns: 1;
    }
}

.ct-form-minmax {
    grid-template-columns: max-content min-content max-content 1fr;
}

.ct-form-maxmin {
    grid-template-columns: max-content 1fr max-content min-content;
}

@media (max-width: 480px) {
    .listing-ct-body .ct-form,
    .modal .ct-form {
        grid-template-columns: initial;
    }

        .listing-ct-body .ct-form > *,
        .modal .ct-form > * {
            grid-column: auto;
            max-width: 100%;
        }

        .listing-ct-body .ct-form > .control-label,
        .modal .ct-form > .control-label {
            padding: 0;
            text-align: left;
        }

            .listing-ct-body .ct-form > .control-label:not(:first-child),
            .modal .ct-form > .control-label:not(:first-child) {
                margin: 6px 0 0;
            }

        .listing-ct-body .ct-form > hr,
        .modal .ct-form > hr {
            height: 12px;
        }
}

.modal-content, .modal-header, .modal-title, .close, .close:focus, .close:hover {
    background-color: var(--container);
    color: var(--font);
}

.preconfig-step {
	font-size: medium;
	padding: 1em;
	margin: 1em;
}

.preconfig-step.fa {
	font-size: medium;
	padding: 1em 0 0 1em;
	margin: 1em 0 0 1em;
}

.preconfig-heading {
	font-weight: bold;
	padding: 1em;
}

#role-div {
    overflow: auto;
}

.role-table {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.cd-table-header-row {
    background-color: var(--container-header);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

th,td {
    padding: 1em 0 0 1em;
    text-align: center;
    border-bottom: 1px solid var(--border);
}

.role-table-host-row:hover {
    background-color: var(--selected);
}

.cd-checkbox {
    background-color: var(--container-header);
    color: var(--selected);
}

.cd-field-checkbox {
    justify-self: flex-start;
    align-self: flex-start;
}

#host-file-content {
    font-size: small;
    overflow-y: scroll;
    max-height: 600px;
    min-height: 50px;
    background-color: var(--container-header);
    color: var(--font);
    border: 1px solid var(--border);
    border-radius: 4px;
}

#all-file-content {
    font-size: small;
    overflow-y: scroll;
    max-height: 600px;
    min-height: 50px;
    background-color: var(--container-header);
    color: var(--font);
    border: 1px solid var(--border);
    border-radius: 4px;
}

#ansible-ping-output {
    font-size: small;
    overflow-y: scroll;
    max-height: 600px;
    min-height: 50px;
}

#terminal-core, #terminal-cephfs, #terminal-device-alias, #terminal-ping {
    height:500px;
    width:100%;
    overflow:auto;
    padding-left: 1em;
}

.cd-para {
	font-weight: bold;
	padding: 1em;
}

.deploy-step-complete {
    color:limegreen;
}

.deploy-step-incomplete {
    color:grey;
}

.deploy-step-failed {
    color:red;
}

.cd-panel-vis-toggle {
    cursor:pointer;
}

.cd-step {
    display: flex;
    justify-content: center;
    background-color: var(--container-header);
    align-items: stretch, center;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.cd-step-mid {
    width: 25%;
}

.cd-step-branch {
    width: 25%
}

.cd-step-title {
    color: var(--font);
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.cd-tree-menu-row {
    display: flex;
    justify-content: space-around;
    background-color: var(--container);
    /*padding: 1em 1em 1em 1em;*/
}

.cd-tree-menu-col {
    display: flex;
    flex-direction: column;
    background-color: var(--container);
    /*padding: 1em 1em 1em 1em;*/
    /*height: 200px;*/
    gap:10%;
    width:20%;
    height: 100%;
    justify-content: center;
}

.cd-tree-menu-arrow-col {
    display: flex;
    flex-direction: column;
    background-color: var(--container);
    gap:10%;
    width:20%;
    height: 100%;
    justify-content: center;
}

.cd-fork {
    color: var(--font);
}

.cd-fork-left {
    color: var(--font);
    transform: rotate(45deg);
}

.cd-fork-right {
    color: var(--font);
    transform: rotate(-45deg);
}

.cd-tree-menu-row-3 {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--container);
    padding: 1em 1em 1em 1em;
    align-items: center;
}

.cd-tree-menu-arrow-row {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--container);
    padding: 0.25em 1em 0.25em 1em;
    align-items: center;
}

.cd-tree-menu-branch {
    display: flex;
    width: auto;
    justify-content: space-around;
    background-color: var(--container);
    /*padding: 1em 1em 1em 1em;*/
    gap:5%;
  }
  

.cd-step-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: var(--container);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    color: var(--font);
}

.cd-step-status-text {
    font-size: small;
    padding: 5px 5px 5px 5px;
    background-color: var(--container);
    height: 50%;
}

.cd-step-status-header {
    padding: 5px 5px 5px 5px;
    font-size: small;
    background-color: var(--container-header);
    height: 50%;
    color: var(--font);
}

.cd-step-status-incomplete {
    font-style: italic;
    font-weight: 400;
    color: var(--status-font-incomplete);
}

.cd-step-status-complete {
    font-style: italic;
    font-weight: 400;
    color: var(--status-font-complete);
}

.cd-deploy-step-start-btn {
    padding: 1em 1em 1em 1em;
    align-self: center;
    cursor: pointer;
}

.cd-arrow-group {
    width: 62%;
}

.cd-arrow {
    height: 50px;
}

.cd-step-complete {
    background-color: var(--bg-complete);
    border: 1px solid var(--border-complete);
    border-radius: 4px;
}

.cd-main-menu-header {
    color: var(--font);
    font-size: x-large;
    padding: 1em 1em 1em 1em;
    font-weight: 700;
}

.progress-bar-main-back {
    color: var(--border);
    font-size: x-large;
    font-weight: 800;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    cursor: pointer;
}

.cd-progress-bar {
    display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:flex-start;
    gap: 5px;
    padding: 5px 5px 5px 5px;
}

.progress-bar-title{
    color: var(--font);
    font-size: x-large;
    font-weight: 800;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    border-right: 3px solid var(--border);
}
.progress-step {
    color: var(--font);
    font-size: medium;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.progress-current-step{
    color: var(--font);
    font-size: large;
    font-weight: 800;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    background-color: var(--bg-progress-bar-current);
    border: 1px solid var(--border);
    border-radius: 4px;
}

.progress-completed-step{
    color: var(--font);
    font-size: medium;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    background-color: var(--bg-complete);
    border: 1px solid var(--border);
    border-radius: 4px;
}

.progress-step-divider {
    color: var(--border);
}

.cd-main-nav {
    color: var(--font);
    font-size: x-large;
    font-weight: 800;
    padding: 5px 5px 5px 5px;
    flex-grow: 0;
    border-right: 3px solid var(--border);
}

.cd-step-bottom-nav-group {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 5px 15px 30px 30px;
}

.cd-step-bottom-nav-group-right {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    padding: 5px 15px 30px 30px;
}