# ignore the __pycache__ folder
**/__pycache__

.kdev4/
*.kdev4
*.kate-swp

# deb packaging
debian/cockpit-ceph-deploy
debian/cockpit-ceph-deploy.substvars
debian/cockpit-ceph-deploy.postrm.debhelper
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# docker builds
dist
