# ignore the __pycache__ folder
**/__pycache__

.kdev4/
*.kdev4
*.kate-swp

# deb packaging
debian/cockpit-ceph-deploy
debian/cockpit-ceph-deploy.substvars
debian/cockpit-ceph-deploy.postrm.debhelper
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# docker builds
dist

# documentation
documentation

# vscode
.vscode/
*.vscode

# state and parameter files
src/fakeroot/usr/share/cockpit/ceph-deploy/state/
src/fakeroot/usr/share/cockpit/ceph-deploy/params/
